.panel_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/panel.gif) !important;
}

.sqlSwitcher_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/sqlSwitcher.gif) !important;
}

.slider_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/slider.gif) !important;
}

.axis_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/axis.gif) !important;
}

.series_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/series.gif) !important;
}

.keyboard_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/keyboard.gif) !important;
}

.actionColumn_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/actionColumn.gif) !important;
}

.actionItem_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/actionItem.gif) !important;
}

.ja_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/ja.gif) !important;
}

.hiddenField_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/hiddenField.gif) !important;
}

.datetime_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/datetime.gif) !important;
}

.alignRight_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/alignRight.gif) !important;
}

.alignRightPin_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/alignRightPin.gif) !important;
}

.alignCenter_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/alignCenter.gif) !important;
}

.alignLeft_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/alignLeft.gif) !important;
}

.treeStore_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/treeStore.gif) !important;
}

.tab_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/tab.gif) !important;
}

.tree_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/tree.gif) !important;
}

.button_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/button.gif) !important;
}

.comboBox_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/comboBox.gif) !important;
}

.js_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/js.gif) !important;
}

.ss_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/ss.gif) !important;
}

.toolbar_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/toolbar.gif) !important;
}

.menu_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/menu.gif) !important;
}

.menuItem_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/menuItem.gif) !important;
}

.te_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/te.gif) !important;
}

.textArea_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/textArea.gif) !important;
}

.htmlEditor_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/htmlEditor.gif) !important;
}

.ne_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/ne.gif) !important;
}

.fieldSet_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/fieldSet.gif) !important;
}

.radio_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/radio.gif) !important;
}

.checkCon_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/checkCon.gif) !important;
}

.radioGroup_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/radioGroup.gif) !important;
}

.label_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/label.gif) !important;
}

.column_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/column.gif) !important;
}

.columns_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/columns.gif) !important;
}

.checkGroup_icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/checkGroup.gif) !important;
}

.ide_h1 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/h1.gif) !important;
}

.ide_h2 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/h2.gif) !important;
}

.ide_h3 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/h3.gif) !important;
}

.ide_h4 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/h4.gif) !important;
}

.ide_h5 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/h5.gif) !important;
}

.ide_v1 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/v1.gif) !important;
}

.ide_v2 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/v2.gif) !important;
}

.ide_v3 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/v3.gif) !important;
}

.ide_v4 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/v4.gif) !important;
}

.ide_v5 {
	width: 16px;
	height: 16px;
	background-image: url(../images/app/v5.gif) !important;
}

.ide_grid {
	cursor: move;
	text-align: center;
	background: #f8f8f8;
	border-right: rgb(200, 200, 200) 1px solid;
	border-top: rgb(200, 200, 200) 1px solid;
	border-left: rgb(200, 200, 200) 1px solid;
	border-bottom: rgb(200, 200, 200) 1px solid;
}

.ide_label {
	cursor: move;
	background: transparent none !important;
	border-right: rgb(90, 90, 90) 1px dotted;
	border-top: rgb(90, 90, 90) 1px dotted;
	border-left: rgb(90, 90, 90) 1px dotted;
	border-bottom: rgb(90, 90, 90) 1px dotted;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	overflow: hidden;
	resize: none;
}

.ide_check {
	cursor: move;
	background-image: url(../images/app/checkIcon.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 0px;
}

.ide_image {
	display: block;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	cursor: move;
	background-repeat: no-repeat;
}

.ide_radio {
	cursor: move;
	background-image: url(../images/app/radioIcon.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 0px;
}

.ide_date {
	cursor: move;
	background-image: url(../images/app/dateIcon.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;
	padding-top: 0px;
}

.ide_panel {
	cursor: move;
	text-align: center;
	background: #f8f8f8;
}

.ide_button {
	cursor: move;
	text-align: center;
	background: #ECECD8;
	border-right: rgb(113, 111, 100) 1px solid;
	border-top: rgb(236, 233, 216) 1px solid;
	border-left: rgb(236, 233, 216) 1px solid;
	border-bottom: rgb(113, 111, 100) 1px solid;
}

.x-resizable-handle {
	width: 5px;
	height: 5px;
	background-image: url(../images/app/box.gif) !important;
	margin: 0px;
}

.x-resizable-handle-west,.x-resizable-handle-east {
	top: 50%;
	margin-top: -1px;
}

.x-resizable-handle-north,.x-resizable-handle-south {
	left: 50%;
	margin-left: -1px;
}

.x-resizable-handle-east,.x-resizable-handle-northeast,.x-resizable-handle-southeast
	{
	right: -1px;
}

.x-resizable-handle-west,.x-resizable-handle-northwest,.x-resizable-handle-southwest
	{
	left: -1px;
}

.x-resizable-handle-north,.x-resizable-handle-northeast,.x-resizable-handle-northwest
	{
	top: -1px;
}

.x-resizable-handle-south,.x-resizable-handle-southeast,.x-resizable-handle-southwest
	{
	bottom: -1px;
}